* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  display: block;
}

p {
  font-size: 2rem;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f7f7;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 6rem;
  gap: 6rem;
  padding: 0 1.5rem;
}

ul {
  list-style: none;
}
