* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  font-size: 20px;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f7f7;
  display: grid;
  justify-items: center;
  gap: 60px;
  margin-top: 60px;
  padding: 0 15px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.menu a {
  background: #ffffff;
  padding: 15px 30px;
  border-radius: 4px;
  color: #000;
  text-transform: uppercase;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1000px;
}

.container-titulo {
  padding: 40px;
  background: #fff;
  text-align: right;
  display: grid;
  gap: 20px;
  align-content: center;
  justify-items: end;
  position: relative;
}

.container .detalhe {
  width: 60px;
  height: 4px;
  background: #ee2211;
  position: absolute;
  top: 30px;
  right: -30px;
}

.container-titulo .btn {
  background: #ee2211;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 30px;
  border-radius: 4px;
}
