

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.menu a {
  background: #ffffff;
  padding: 1.5rem 3rem;
  border-radius: 0.4rem;
  color: #000;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 103rem;
}

.container-titulo {
  padding: 4rem;
  background: #fff;
  text-align: right;
  display: grid;
  gap: 2rem;
  align-content: center;
  justify-items: end;
  position: relative;
}

.container .detalhe {
  width: 6rem;
  height: 0.4rem;
  background: #ee2211;
  position: absolute;
  top: 3rem;
  right: -3rem;
}

.container-titulo .btn {
  background: #ee2211;
  color: #fff;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  border-radius: 0.4rem;
  font-size: 1.6rem;
}

.container-subtitulo {
  font-size: 6.4rem;
  color: #c6c6c6;
  text-transform: uppercase;
  text-align: right;
  display: grid;
  align-items: center;
  padding: 4rem;
}

.container .container-vantagens {
  background: #fff;
  padding: 4rem;
}

.container .container-vantagens .vantagens-item{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem 2rem;
  padding: 2rem;
}

.container .container-vantagens .vantagens-item p {
  grid-column: 2;
}

.rodape {
  width: 100%;
  background: #fff;
  padding: 4rem;
  text-align: center;
}